<aside class="col-sm-4">
  <%= form_with(model: @micropost, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <div class="field">
      <%= f.label :画像 %>
      <%= f.file_field :img %>
    </div>
  <% end %>
</aside>